@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <div class="jumbotron">
        <div class="container">
            <h1>Ласкаво просимо до нашого зоомагазину: де ваш улюбленець знаходить своє щастя!</h1>
            <p>
                Ласкаво просимо до нашого затишного зоомагазину, де ваша домашня тварина стає справжньою зіркою!
                Ми пишаємося тим, що пропонуємо широкий асортимент зоотоварів та аксесуарів, які допоможуть зробити життя
                вашого улюбленця комфортним і радісним.
            </p>
            <p>Кожний улюбленець заслуговує на зручні, безпечні та стильні аксесуари.</p>
            <p>
                Саме тому ми пропонуємо широкий асортимент товарів для безпечних подорожей та веселих прогулянок власникам собак і котів,
                котрі хочуть таким чином висловити своє кохання і прагнення завжди піклуватися про чотирилапого члена сім'ї.
            </p>
            <p>
                Також ми здійснюємо доставку товарів прямо до вашого дому, щоб зробити процес покупок максимально зручним для вас.
                Як тільки ви оформите замовлення, наша команда оперативно його обробить і доставить обрані товари в зазначене вами місце та час.
            </p>
        </div>
    </div>
    <div class="article-divider"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2>Вибір амуніції</h2>
                </div>
                <div class="col-6">
                    <h5>Переваги шлеї перед нашийником:</h5>
                    <ul>
                        <li>
                            навантаження на хребет розподіляється рівномірно;
                        </li>
                        <li>
                            шлея не здавлює горло;
                        </li>
                        <li>
                            модель правильного розміру не завдає вихованцю дискомфорту;
                        </li>
                        <li>
                            широкий асортимент матеріалів, кольорів, розмірів.
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <img class="article-image rounded" src="~/images/articleImg1.webp" />
                </div>
                <div class="col-12 text-left">
                    <h5>При використанні шлеї слід пам'ятати:</h5>
                    <ol>
                        <li>
                            Її не можна носити постійно. Особливо це актуально для довгошерстих порід, адже шерсть під виробом може витончитися.
                        </li>
                        <li>
                            Якщо у вас велика та активна тварина, за допомогою шлейки буде важко його контролювати. Використовуйте нашийник.
                        </li>
                        <li>
                            Цуценятам не рекомендується носити шлейку раніше 6-10 місяців, кошенятам – до 5 місяців. З обережністю підбирають шлейку для вагітних тварин (бажано проконсультуватися з ветеринарним лікарем).
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="article-divider"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2>ПОВІДЕЦЬ VS РУЛЕТКА. ЩО ВИБРАТИ?</h2>
                </div>
                <div class="col-7">
                    <img class="article-image rounded" src="~/images/articleImg2.webp" style="width:500px;" />
                </div>
                <div class="col-5">
                    <p class="text-left">
                        На відміну від звичайних повідців, рулетки значно полегшують життя власників собак під час прогулянки.
                        Рулетка дозволяє не тільки контролювати вихованця поруч із господарем, але й давати свободу переміщення
                        на віддаленості від нього. При цьому зберігається натяг повідця. За рахунок цього ремінь або трос менше
                        забруднюються і значно менше намокають у негоду.
                        <br /><br />
                        Вибір на користь якісного та надійного повідця-рулетки обумовлений не лише зручністю в експлуатації, але й безпекою,
                        яку той забезпечує як для господаря, так і для вихованця. У поєднанні з правильно підібраним нашийником або шлейкою для собак,
                        будь-яка прогулянка перетвориться на приємне і корисне проведення часу як для вихованця, так і для його господаря.
                    </p>
                </div>
                <div class="col-12 text-left">
                    <p>
                        <b>Але!</b> Якою б високою не була якість у рулетки, цей аксесуар не вічний і з часом виходить з ладу.
                        Поломка стопорного механізму або розрив стрічки, слабкий натяг троса або проблеми з металевим карабіном - все
                        це виключає можливість подальшої експлуатації рулетки. Тим часом собаку потрібно вигулювати, тому на готові завжди
                        має бути звичайний повідець.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
